<br>
<div id="notifications">
  <div id="successBox" style="display: none;" class="alert alert-success" role="alert">{Success Message...}</div>
  <div id="loadingBox" style="display: none;" class="alert alert-info" role="alert">Loading...</div>
  <div id="errorBox" style="display: none;" class="alert alert-danger" role="alert">{Error Message...}</div>
</div>
